.login-page {
    background-color: #1192c4;
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.login-card.card {
    display: flex;
    flex-direction: column;
    border-radius: 44px;
    max-width: 350px;
    background-color: white;
    padding: 2rem 2rem;
    align-self: center;
}
.login-logo {
    /* ENSURE Logo is not stretched */
    width: 23%;
    margin: 5% auto 5% auto;
}
.login-title{
    font-weight: 700;
    font-size: 30px;
    color: #374e65;
    margin-bottom: 8%;
}
.login-prompt{
    font-weight: 700;
    font-size: 18px;
    color: #374e65;
    margin-bottom: 4%;
}
.login-form{
    background:#f0f8ff !important;
    /*background-color: #f7fafc;*/
    border: 0px;
    height: 8%;
    margin-bottom: 8%;
}
.login-button{
    border-radius:16px;
    background-color: #374e65;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.login-forget-password {
    color: #09a391;
    font-size: 16px;
    margin: 0px auto;
    font-family: "Cabin";
    font-weight:700;
    cursor: pointer;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -6px;
    padding-bottom: 4px;
}